# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/
app.json

# dependencies
/node_modules

# credentials
/config/credentials/dev.js

# etc
.idea/workspace.xml
package-lock.json
.DS_Store
